{% extends "apps/common/layout.njk" %}

{% block title %}Error{% endblock %}

{% block content %}
    <h2>Error</h2>
    <div class="alert alert-primary" role="alert">
        Sorry, we were unable to log you in.
    </div>
    <p>If you have a valid Big Lottery Fund staff account, you may need to be granted access to use this tool. Please contact the Digital Team for approval.</p>
{% endblock %}
