{% extends "apps/common/layout.njk" %}

{% block title %}Home{% endblock %}

{% block content %}
    {% if not user %}
        <h1>Welcome</h1>
        <a class="btn btn-primary"
            href="/user/login{% if redirectUrl %}?redirectUrl={{ redirectUrl }}{% endif %}">
            Please log in
        </a>
    {% else %}
        <h1>Hello, {{ user.given_name }}.</h1>
        <p><a href="/user/account">Account Info</a></p>
        <p><a href="/user/logout">Log Out</a></p>
    {% endif %}
{% endblock %}
