{% extends "apps/common/layout.njk" %}

{% block title %}{% if applicationData %}Application {{ applicationData.reference_id }} | {{ formTitle }}{% else %}{{ formTitle }} | All applications{% endif %}{% endblock %}

{% macro renderPagination() %}
    {% if pagination and pagination.totalPages > 1 %}
        <nav aria-label="Page navigation example">
            <ul class="pagination pagination-sm justify-content-center mb-2">
                {# first / prev #}
                <li class="page-item{% if pagination.currentPage <= 1%} disabled{% endif %}">
                    <a class="page-link"
                       href="?perPage={{ pagination.perPage }}&page=1">
                        << First
                    </a>
                </li>
                <li class="page-item{% if pagination.currentPage <= 1%} disabled{% endif %}">
                    <a class="page-link"
                       href="?perPage={{ pagination.perPage }}&page={{ pagination.currentPage - 1 }}">
                        < Previous
                    </a>
                </li>

                {# preceding pages #}
                {% if pagination.currentPage > 1 and pagination.currentPage < pagination.totalPages %}
                    {% if pagination.currentPage === pagination.totalPages - 1 %}
                        {% set startPage = pagination.currentPage - 1 %}
                        {% set endPage = pagination.currentPage %}
                    {% elseif pagination.currentPage === 2 %}
                        {% set startPage = 1 %}
                        {% set endPage = 2 %}
                    {% else %}
                        {% set startPage = pagination.currentPage - 2 %}
                        {% set endPage = pagination.currentPage %}
                    {% endif %}
                    {% for i in range(startPage, endPage) -%}
                        <li class="page-item">
                            <a class="page-link" href="?perPage={{ pagination.perPage }}&page={{ i }}">{{ i }}</a>
                        </li>
                    {%- endfor %}
                {% endif %}

                {# current page #}
                <li class="page-item active">
                    <span class="page-link">
                        {{ pagination.currentPage }}
                    </span>
                </li>

                {# subsequent pages #}
                {% if pagination.currentPage !== 1 and pagination.currentPage < pagination.totalPages %}
                    {% if pagination.currentPage === pagination.totalPages - 1 or pagination.currentPage === 2 %}
                        {% set startPage = pagination.currentPage + 1 %}
                        {% set endPage = pagination.currentPage + 2 %}
                    {% else %}
                        {% set startPage = pagination.currentPage + 1 %}
                        {% set endPage = pagination.currentPage + 3 %}
                    {% endif %}
                    {% for i in range(startPage, endPage) -%}
                        <li class="page-item">
                            <a class="page-link" href="?perPage={{ pagination.perPage }}&page={{ i }}">{{ i }}</a>
                        </li>
                    {%- endfor %}
                {% endif %}

                {# next / last #}
                <li class="page-item{% if pagination.currentPage === pagination.totalPages %} disabled{% endif %}">
                    <a class="page-link"
                       href="?perPage={{ pagination.perPage }}&page={{ pagination.currentPage + 1 }}">
                        Next >
                    </a>
                </li>
                <li class="page-item{% if pagination.currentPage === pagination.totalPages %} disabled{% endif %}">
                    <a class="page-link"
                       href="?perPage={{ pagination.perPage }}&page={{ pagination.totalPages }}">
                        Last >>
                    </a>
                </li>
            </ul>
        </nav>
    {% endif %}
    <p class="text-center mb-3">
        <small>
            Showing {{ totalApplications }} total applications / {{ pagination.perPage }} per page / newest first
            (<a href="?perPage=all">view all</a>)
        </small>
    </p>
{% endmacro %}

{% block head %}
    <style>
        .list-group-item:visited {
            background: #efefef;
        }
    </style>
{% endblock %}

{% block content %}
    {% set dashboardTitle = "Applications Dashboard" %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            {% if applicationData %}
                <li class="breadcrumb-item"><a href="/dashboard/">{{ dashboardTitle }}</a></li>
                <li class="breadcrumb-item"><a href="/dashboard/{{ formId }}">{{ formTitle }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ applicationData.reference_id }}</li>
            {% elseif forms.length > 0 %}
                <li class="breadcrumb-item active" aria-current="page">{{ dashboardTitle }}</li>
            {% else %}
                <li class="breadcrumb-item"><a href="/dashboard/">{{ dashboardTitle }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ formTitle }}</li>
            {% endif %}
        </ol>
    </nav>

    <div class="container">

        <h1 class="display-4 mb-4">{{ formTitle }}</h1>

        {% if applicationData %}
            <h2><strong>Application reference</strong>: {{ applicationData.reference_id }}</h2>
            <h5>
                {{ applicationData.createdAt | formatDate(DATE_FORMATS.fullTimestamp) }}
                <small title="{{ applicationData.createdAt }}">{{ applicationData.createdAt | timeFromNow }}</small>
            </h5>
            <div class="card">
                <div class="card-body">
                    {% for step in applicationData.application_data %}
                        <h4>{{ step.name }}</h4>
                        {% for fieldset in step.fieldsets %}
                            {% for field in fieldset.fields %}
                                {% if field.value %}
                                    <h5>{{ field.label }}</h5>
                                    {% if field.type === 'textarea' %}
                                        <p>{{ field.value | striptags(true) | escape | nl2br }}</p>
                                    {% elseif field.type === 'checkbox' %}
                                        <p>{{ field.value | joinIfArray(', ') }}</p>
                                    {% else %}
                                        <p>{{ field.value }}</p>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        {% elseif forms.length > 0 %}
            <p>Click a form to view all its applications.</p>
            <div class="list-group">
                {% for form in forms %}
                    <a class="list-group-item list-group-item-action flex-column align-items-start"
                       href="/dashboard/{{ form.form_id}}">
                        <div class="d-flex w-100 justify-content-between">
                            <h3 class="h6">{{ form.formTitle }}</h3>
                            <span class="badge badge-primary badge-pill">{{ form.toJSON().count}}</span>
                        </div>
                    </a>
                {% endfor %}
            </div>
        {% elseif applications.length > 0 %}

            <div class="row justify-content-between align-items-center mb-4">
                <div class="col-sm">
                    <h2>
                        All applications <small>({{ totalApplications }})</small>
                        {% if showDownloadLink %}
                            <a class="btn btn-primary btn-sm" href="?download=1">Download as Excel file</a>
                        {% endif %}
                    </h2>
                </div>
                <div class="col-sm">
                    <form method="post" action="./search/{{ formId }}" class="form-inline">
                        <label for="searchField">Search applications:</label>
                        <input type="text" class="form-control form-control-sm mr-sm-2 ml-sm-2" id="searchField" placeholder="eg. RC-123" name="searchTerm">
                        <button type="submit" class="btn btn-primary btn-sm">Search</button>
                    </form>
                </div>
            </div>

            {% if searchFailed %}
                <div class="alert alert-primary" role="alert">
                    Sorry, there were no matching applications for that search term.
                </div>
            {% endif %}

            {{ renderPagination() }}

            <div class="border mb-5">
                <div class="list-group">
                    {% for application in applications %}
                        <a class="list-group-item list-group-item-action flex-column align-items-start"
                           href="/dashboard/{{ formId }}/{{ application.reference_id }}">
                            <div class="d-flex w-100 justify-content-between">
                                <h3 class="h6">
                                    {{ application.createdAt | formatDate(DATE_FORMATS.fullTimestamp) }}
                                </h3>
                                <small title="{{ application.createdAt }}">Submitted {{ application.createdAt | timeFromNow }}</small>
                            </div>
                            <p class="mb-0"><strong>Application reference</strong>: {{ application.reference_id }}</p>
                        </a>
                    {% endfor %}
                </div>
            </div>

            {{ renderPagination() }}
        {% else %}
            <div class="alert alert-primary" role="alert">
                Sorry, there haven't been any applications for this fund yet &ndash; watch this space!
            </div>
        {% endif %}

    </div>
{% endblock %}
